# .NET Core build folders
bin/
obj/

# Visual Studio filer
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

# Rider filer
.idea/

# Visual Studio Code filer
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build resultater
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Testresultater
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Diverse
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
/uge 3/Skoleinfo.Api/appsettings.Development.json
